@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
 
body {
	background: #eee;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
 
hr {
	border:0;
	background:#dedede;
	height:1px;
}		
 
header{
	text-align: center;
	color: #232323;
}
 
header .judul{
	font-size: 17pt;
}
 
header .deskripsi{
	font-size: 11pt;
}
 
.wrap {
	width: 1000px;
	margin:5px auto;
}
 
nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	float:none;
	padding: 0.5%;
	width: 1000px;
	margin:0 0 0;
	background: #1abc9c;
}
 
nav.menu ul li {
	margin:0;
	float:left;
}
 
nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:1000;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
nav.menu ul a:hover {
	text-decoration: underline;
	background:#16a085;
}
 
/* .sidebar {
	float:right;
	width:275px;
} */
 
/* .sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
} */
 
/* .sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
} */
 
/* .sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 14px;
}
 
.sidebar .widget p:last-child {
	margin:0;
} */
 
.blog {
	float:none;
}
 
.conteudo {
	width:1000px;
	padding:5px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
}
 
.conteudo img {
	min-width: 1000px;
	max-width: 1000px;
}
 
.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}
 
.conteudo p:last-child {
	margin: 0;
}
 
.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
}
 
.conteudo .continue-lendo:hover {
	margin-left:10px;
}
 
.post-info {
	float: right;
	font-size: 12px;
	margin: -5px 0 10px;
	text-transform: uppercase;
}
 
@media screen and (max-width: 1000px) {
 
	.header {
		position:none;
	}
 
	.wrap {
		width: 100%;
		margin:5px auto;
	}
	nav.menu ul {
		width: 100%;
	}
 
	nav.menu ul li {
		float:none;
		margin:0;
	}
 
	nav.menu ul a {
		padding:5px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}
 
	.blog {
		width:100%;
	}
 
	.conteudo {
		float:none;
		margin:0 auto 5px;
		width:100%;
		border:1px solid #dedede;
		background: #fff;
	}
 
	.conteudo img {
		max-width: 100%;
		min-width: 100%;
	}
 
	.conteudo .continue-lendo:hover {
		margin-left:0;
	}
 
 
}
 
@media screen and (max-width: 460px) {
 
	nav.menu ul a {
		padding:5px;
		font-size: 14px;
	}
 
	.sidebar {
		display:none
	}
	.post-info {
		display:none;
	}
 
	.conteudo {
		margin:25px auto;
	}
 
	.conteudo img {
		margin:-5% 0 25px -5%;
	}			
}